:root {
  --border-color: #ebe8f4;
  --logo-color: #22202e;

  --background-color: #ffffff;
  --footer-background-color: #2a254b;

  --text-color: #2a254b;
  --footer-text-color: #ffffff;
  --text-menu-color: #726e8d;

  --first-button-color: #2a254b;
  --second-button-color: #f9f9f9;
}

body {
  background-color: var(--background-color);
  transition: 0.5s ease;
}

body.dark {
  --background-color: #282828;
  --footer-background-color: #fafafa;

  --text-color: #d9d3ff;
  --footer-text-color: #2a2a2a;
  --text-menu-color: #c8c2e6;

  --first-button-color: #2a254b;
  --second-button-color: #50306f;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

select {
  appearance: none;
  cursor: pointer;
}

.container {
  width: 1280px;
  margin-inline: auto;
}

.header {
  margin-bottom: 80px;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 29px;
}

.header__logo {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--logo-color);
}

.header__menu-list {
  display: flex;
  gap: 44px;
}

.header__menu-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header__menu-actions {
  display: flex;
  gap: 16px;
}

.header__menu-icon path {
  fill: var(--text-menu-color);
}

.header__menu-link {
  color: var(--text-menu-color);
}

.header__mode-switcher {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.mode-switcher-light {
  background-color: #4e4d93;
}

.mode-switcher-dark {
  background-color: #d5d5fe;
}

.header__mode-switcher-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: transform 0.6s ease, background-color 0.6s ease,
    background-image 0.6s ease;
}

.switcher-circle-light {
  background: #4cafef;
  background-image: url("../images/icons/dark-mode-icon.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;

  transform: translateX(0);
}

.switcher-circle-dark {
  background: #ddf2ff;
  background-image: url("../images/icons/light-mode-icon.svg");

  transform: translateX(30px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section-title {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--text-color);
  margin-bottom: 24px;
}

.main__filter {
  display: flex;
  justify-content: space-between;
  padding-inline: 48px;
  padding-block: 20px;

  width: 100%;
}

.main__filter-list,
.main__sort {
  display: flex;
  gap: 16px;
  margin: 0;
}

.main__sort {
  align-items: flex-end;
  margin-bottom: 13px;
}

.main__filter-list {
  gap: 40px;
}

.main__filter-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}

.main__filter-select,
.main__sort-select {
  background-image: url("../images/down.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 16px;
  border: none;
}

.main__sort-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-color);
  margin: 0;
  margin-right: 36px;
}

.main__sort-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}
.main__product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__product-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.main__product-item {
  margin-bottom: 28px;
}

.main__product-image {
  margin-bottom: 24px;
}

.main__product-title {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
  margin-block: 0px 8px;
}

.main__product-price {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
  margin: 0;
}

.main__product-view {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  margin-block: 48px 40px;
  padding: 16px 32px;
  background-color: var(--second-button-color);
}

.main__join {
  display: flex;
  width: 1440px;
}

.main__join-image {
  background-image: url("../images/image-2.jpg");
  background-repeat: no-repeat;
  min-width: 720px;
  min-height: 521px;
}

.main__join-info {
  display: flex;
  flex-direction: column;
  padding-inline: 49px;
}

.main__join-benefits {
  margin-bottom: 216px;
}

.main__join-title {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--text-color);
  margin: 0;
  margin-block: 71px 21px;
}

.main__join-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  margin: 0;
}

.main__join-sign {
  width: 120px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--footer-text-color);
  margin: 0;
  padding: 16px 32px;
  background-color: var(--text-color);
}

.footer {
  margin-inline: auto;
  width: 1440px;
  background-color: var(--text-color);
  margin-block: 0;
}

.footer__content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 60px;
  border-bottom: 1px solid var(--footer-background-color);
  margin-bottom: 24px;
}

.footer__navigation {
  display: flex;
  gap: 100px;
}

.footer__navigation-type {
  display: flex;
  flex-direction: column;
}

.footer__navigation-name {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--footer-text-color);
  margin-bottom: 12px;
  cursor: pointer;
}

.footer__navigation-item {
  margin-bottom: 12px;
}

.footer__navigation-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--footer-text-color);
}

.footer__extra-info {
  padding-bottom: 25px;
}

.footer__extra-rights {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--footer-text-color);
}

.footer__extra-info {
  display: flex;
  justify-content: space-between;
}

.footer__extra-links {
  display: flex;
  gap: 24px;
}

.footer__extra-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 8px;
}

.link-linkedin {
  background-image: url("../images/icons/logo-linkedin.svg");
}

.link-facebook {
  background-image: url("../images/icons/logo-facebook.svg");
}

.link-instagram {
  background-image: url("../images/icons/logo-instagram.svg");
}

.link-skype {
  background-image: url("../images/icons/logo-skype.svg");
}

.link-twitter {
  background-image: url("../images/icons/logo-twitter.svg");
}

.link-pinterest {
  background-image: url("../images/icons/logo-pinterest.svg");
}
